/* css styles */

body {
  background-color: #f8fbff;
  font-family: Arial, sans-serif;
}

.well {
  background-color: #fbfdff;
}

h2 {
  color: #2b71bf;
}

body {
  font-size: 18px;
  color: #5094d6;
}
